*{
    margin: 0;
    padding: 0;
    border:0;
}
header {
    width: 100%;
    height: 50px;
    background-color: rgb(33, 33, 33);
    position: relative;
}
h1 {
    position: absolute;
    color: white;
    left: 200px;
    top: 15px;
    font-family: Arial;
    font-size: 20px;
}
#top {
    position: absolute;
    color: white;
    right: 30px;
    margin-right: 100px;
    top: 15px;
    
}
#home {
    background: orange;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}
.navega {
    font-family: Arial;
    margin-right: 60px;
    font-size: 20px;
    color: white;
}
nav#top > .navega {
    text-decoration: none;
}
.navega:hover {
    color: black;
    background-color: blanchedalmond;
    cursor: pointer
}
main {
    width: 600px;
    height: 400px;
    margin: 30px auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#centro {
    width: 450px;
    height: auto;
    display: flex;
    align-content: space-around;
}
#texto {
    padding: 40px 20px 0 0;
    height: 150px;
    display: flex;
    text-align: center;
    font-family: Arial;;
    border-right: 2px dotted black;
}
#dados {
    padding-top:50px;
    padding-left: 20px;
    font-family: Arial;
    text-align: left;
}
.leg {
    margin-bottom: 5px;
}
.enviar {
    margin-top: 10px;
    width: 80px;
    height: auto;
    border-radius: 5px;
    background-color: burlywood;
    color: black;
}

.log {
    border: 1px solid black;
}
legend {
    font-size: 1em;
}
footer{ 
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color:rgb(33, 33, 33);
    color: white;
    font-size: 1em;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}
@media screen and (max-width: 875px){
    header{ 
        flex-direction: column;
        align-content: center;
        background-color: rgb(33, 33, 33);
    }
    nav#top > .navega {
        display: flex;
        justify-content: center;
    }
    #centro {
        width: 100%;
        flex-direction: column;
    }
    #texto {
        border: none;
    }
}


